<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="br.ufpe.cin.reviewer.ui.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.ufpe.cin.reviewer.ui.rcp.search.SearchPerspective"
            fixed="true"
            id="br.ufpe.cin.reviewer.ui.rcp.SearchPerspective"
            name="Search Perspective">
      </perspective>
      <perspective
            class="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewPerspective"
            fixed="true"
            id="br.ufpe.cin.reviewer.ui.rcp.LiteratureReviewPerspective"
            name="Literature Review Perspective">
      </perspective>
      <perspective
            class="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewPhasesPerspective"
            fixed="true"
            id="br.ufpe.cin.reviewer.ui.rcp.LiteratureReviewStudiesPerspective"
            name="Literature Review Studies Perspective">
      </perspective>
      <perspective
            class="br.ufpe.cin.reviewer.ui.rcp.literaturereview.StudyAnalysisPerspective"
            fixed="true"
            id="br.ufpe.cin.reviewer.ui.rcp.StudyAnalysisPerspective"
            name="Study Analysis Perspective">
      </perspective>
      <perspective
            class="br.ufpe.cin.reviewer.ui.rcp.evaluator.EvaluatorPerspective"
            fixed="true"
            id="br.ufpe.cin.reviewer.ui.rcp.EvaluatorPerspective"
            name="Evaluator Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="br.ufpe.cin.reviewer.ui.rcp.search.SearchView"
            id="br.ufpe.cin.reviewer.ui.rcp.search.SearchView"
            name="Search View">
      </view>
      <view
            allowMultiple="false"
            class="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewView"
            id="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewView"
            name="Literature Review View">
      </view>
      <view
            allowMultiple="false"
            class="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewPhasesView"
            id="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewStudiesView"
            name="Literature Review Studies View">
      </view>
      <view
            allowMultiple="false"
            class="br.ufpe.cin.reviewer.ui.rcp.literaturereview.StudyAnalysisView"
            id="br.ufpe.cin.reviewer.ui.rcp.literaturereview.StudyAnalysisView"
            name="Study Analysis View">
      </view>
      <view
            allowMultiple="false"
            class="br.ufpe.cin.reviewer.ui.rcp.evaluator.EvaluatorView"
            id="br.ufpe.cin.reviewer.ui.rcp.evaluator.EvaluatorView"
            name="Evaluator View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="br.ufpe.cin.reviewer.ui.rcp.SearchPerspective">
         <view
               closeable="false"
               id="br.ufpe.cin.reviewer.ui.rcp.search.SearchView"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="br.ufpe.cin.reviewer.ui.rcp.LiteratureReviewPerspective">
         <view
               closeable="false"
               id="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewView"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="br.ufpe.cin.reviewer.ui.rcp.LiteratureReviewStudiesPerspective">
         <view
               closeable="false"
               id="br.ufpe.cin.reviewer.ui.rcp.literaturereview.LiteratureReviewStudiesView"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="br.ufpe.cin.reviewer.ui.rcp.StudyAnalysisPerspective">
         <view
               closeable="false"
               id="br.ufpe.cin.reviewer.ui.rcp.literaturereview.StudyAnalysisView"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
       <perspectiveExtension
            targetID="br.ufpe.cin.reviewer.ui.rcp.EvaluatorPerspective">
         <view
               closeable="false"
               id="br.ufpe.cin.reviewer.ui.rcp.evaluator.EvaluatorView"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="reviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="br.ufpe.cin.reviewer.ui.rcp.application"
            name="br.ufpe.cin.reviewer">
         <property
               name="appName"
               value="br.ufpe.cin.reviewer">
         </property>
         <property
               name="windowImages"
               value="images/icon16.png,images/icon32.png,images/icon48.png,images/icon64.png,images/icon128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
