<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @centro_de_custo.nome %>
</p>


<%= link_to 'Edit', edit_centro_de_custo_path(@centro_de_custo) %> |
<%= link_to 'Back', centro_de_custos_path %>
